/* 

#e68a00 
#e68a00 -> #e68a00
#203446
#3a536c
#428bca
#62abea

*/

body, html {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
	font-weight: 700;
	color: #e68a00
}

p {
    font-size: 1.2em !important;
    margin: 0px 0px 10px;
}

a {
    color: #aaa;
}

a:hover {
    color: #ef6e0a;
}

.grid-home {
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    color: #454545;
}

.grid {
    background-color: #fff;
    color: #454545;
}
.btn-primary {
    color: #f7fafd;
    background-color: #203446;
    border: 1px solid #203446;
}

footer {
	background-color: #e68a00;
	padding: 50px 0;
	-- position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer .btn-primary {
	background-color: white;
    color: #e68a00;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-image: initial;
}
footer .btn-primary:hover {
	background-color: #eee;
	border-color: #e68a00;
    color: #e68a00;
}
footer a {
	color: white;
}
footer a:hover {
	color: #eee;
}
footer h4 {
	color: #eeeeee;	
}
footer li {
	color: #e68a00 
}

.social-media {
    background: #e68a00;
    padding-top: 20px;
    margin-bottom: -20px;
}

.intro-header {
	padding-top: 2em; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 2em;
	text-align: center;
	font-size: 1em;
}

.intro-message {
	position: relative;
	padding-top: 5%;
	padding-bottom: 2%;
}

.intro-message > h1 {
	margin-bottom: -5%;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 8em;
	color: white;
}

.intro-message > h2 {
	font-family: serif;
	font-weight: lighter;
	font-size: 1.8em;
	color: white;
}

.intro-message > h3 {
	font-size: 2.0em;
	color: #555;
    font-weight: lighter;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-messager {
	position: relative;
    padding-top: 2em !important;
    margin-bottom: -2.5em !important;
    margin-left: -1.7em;
}


@font-face {
font-family: �Montserrat�;
src: url(�webfont.eot�); 
src: url(�webfont.eot?#iefix�) format(�embedded-opentype�),
    url(�webfont.svg#svgFontName�) format(�svg�),
    url(�webfont.woff�) format(�woff�),
    url(�webfont.ttf�)  format(�truetype�);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #e68a00;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 50px 0;
	color: #f8f8f8;
}

.banner h2 {
	margin: 0;
	font-size: 3em;
	color: #454545;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

p.copyright {
	margin: 15px 0 0;
	font-size: 1em !important;
	color: #eee
}

.light {
    font-weight: 400;
    color: white;
}

.pictogram {
	padding: 20px;
	margin: 0;
	font-size: 18em;
    color: #e68a00;
    text-align: center;
	vertical-align:text-middle;
}

.logo {
    border-radius: 10%;
    width: 300px;
}

.logo_small {
    border-radius: 10%;
    width: 100px;
}


.logo-small {
    width: 45px; height: 30px;    padding-top: 60px;
}

.navbar-default {
    font-size: 1.2em;
    background: white;
    border-color: white;
    color: black;
    border-bottom: 1px solid #e68a00;
}

.navbar-default .navbar-brand {
    color: #e68a00;
    font-weight: 700;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 2rem;
}

.navbar-default .navbar-brand:hover {
    color: #e67a00;
}

.navbar-default .navbar-nav li a {
    font-weight: 700;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black !important;
}

.navbar-default .navbar-nav li a:hover {
    color: #e68a00 !important;
    background: #eee !important;
    border-color: #eee !important;
}

.lead {
	font-size: 1.2em;
	font-weight: 400;
}

.heading-lead {
	font-size: 1em;
	font-weight: 400;
}

.container-heading {
    width: 100%;
    height: 200px;
}

.btn-register {
    margin:5px;
    padding: 5px !important;
    background-color: #428bca;
	border-color: #428bca;
}

.post{
	font-size: 1.2em;
    font-weight: 400;
	margin-top: 100px;
    margin-bottom: 50px;
}

.post-item {
	margin: 0px;
}

.post-position{
	margin: 0px;
	margin-bottom: 30px;
}

.post-info{
	font-size: 12px;
    color: #999;
	margin-bottom: 25px;
	bottom: .60em;
}

#carousel-home-generic {
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    border-color: #3a536c;
}

.breadcrumb {
	border-radius: 0px !important;
	background: #e67a00;
	color: #eee !important;
}

.breadcrumb li {
	color: white !important;
}

.breadcrumb a {
	color: #eee !important;
}

blockquote {
	color: #6a737d;
	font-family: serif;
}

tbody {
  margin: 0;
  padding: 0;
  border: 0; }

table tr th, table tr td {
  font-size: 1em;
  border: 1px solid #CCC;
  margin: 0;
  padding: 0.5em 1em; }

table {
  margin: 1.2em 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  font: inherit;
  border: 0; }
  table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr :nth-child(2n) {
      background-color: #F8F8F8; }
    table tr th {
      font-weight: bold;
      background-color: #F0F0F0; }
    table tr td[align="right"] {
      text-align: right; }
    table tr td[align="left"] {
      text-align: left; }
    table tr td[align="center"] {
      text-align: center; }

.price-header {
	background-color: #e67a00;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 1em 0em;
    text-align: center;
}
.price: hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price-tag {
	background-color: #050;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 1em;
    margin: 1em;
    text-align: center;
}


