---
title: Products
heading: Find the edition that best suits your needs
description: All editions are fully customizable and extendable.
products_table:
  - name: Atlas
    color: "#000000"
    features:
      - text: All in one platform containing all the standard components
        highlight: true
      - text: Enterprise JavaScript Development, User Interfaces, Debugger, Git, Themes, Databases, Jobs, Message Listeners, Websockets, Security, Extensions, Database Management, BPM, CMS, Terminal, Operations
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-atlas" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/atlas/
      text: More details
  - name: Helios
    color: "#000000"
    features:
      - text: JavaScript development for <a href="https://www.dirigible.io/api/">Enterprise API</a>
        highlight: true
      - text: Enterprise JavaScript API, User Interfaces, Debugger, Git, Themes, Databases, Jobs, Message Listeners, Websockets, Security, Extensions
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-helios" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/helios/
      text: More details
  - name: Hades
    color: "#000000"
    features:
      - text: Database Management for PostgreSQL, MySQL, SAP HANA, H2, and more...
        highlight: true
      - text: Database Explorer, SQL Console, Data Transfer
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-hades" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/hades/
      text: More details
  - name: Oceanus
    color: "#000000"
    features:
      - text: Document Management for CMIS compliant repositories
        highlight: true
      - text: Documents Browser, Document Viewer, Import and Export of files, ZIP compressing and decompressing 
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-oceanus" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/oceanus/
      text: More details
  - name: Theia
    color: "#000000"
    features:
      - text: Terminal in the browser via HTTP
        highlight: true
      - text: Terminal over HTTP 
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-theia" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/theia/
      text: More details
  - name: Hyperion
    color: "#000000"
    features:
      - text: Business Processes Management fully compliant with BPMN v2 based on Flowable engine
        highlight: true
      - text: BPMN Modeler, Business Process Definitions, Instances, Variables, Inbox
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-hyperion" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/hyperion/
      text: More details
  - name: Iapetus
    color: "#000000"
    features:
      - text: Integrations Management for ETL and other enterprise integration patterns based on Apache Camel
        highlight: true
      - text: Integrations Modeler, Integrations Flows
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-iapetus" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/iapetus/
      text: More details
  - name: Kronos
    color: "#000000"
    features:
      - text: The XS compatibility platform
        highlight: true
      - text: All the standard components plus XS compatibility plugins
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-kronos" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/kronos/
      text: More details
  - name: Gaia
    color: "#000000"
    features:
      - text: The basis platform runtime for products
        highlight: true
      - text: All the standard components except the Web IDE
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-gaia" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/gaia/
      text: More details
features:
  - feature: Engine JavaScript
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine TypeScript
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Python
    atlas: ✅
    helios:
    hades:
    oceanus:
    theia:
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: Engine Web Content
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Command
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Jobs
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Listeners
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine OData
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅ 
    gaia: ✅
  - feature: Engine Open API
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅ 
    gaia: ✅
  - feature: Engine Security
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Template
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Template Mustache
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Template Velocity
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    gaia: ✅
    kronos: ✅
  - feature: Engine Template JavaScript
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Websockets
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine Markdown
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: Engine Confluence
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: Engine BPM
    atlas: ✅
    helios:
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine BPM Flowable
    atlas: ✅
    helios:
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Engine CMS
    atlas: ✅
    helios:
    hades: 
    oceanus: ✅
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: Engine CMS Internal
    atlas: ✅
    helios:
    hades: 
    oceanus: ✅
    theia: 
    hyperion:
    kronos: ✅ 
    gaia: ✅
  - feature: API Core
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Test
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Utils
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API I/O
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API HTTP
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Log
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Database
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Test
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Extensions
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Security
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API QUnit
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Platform
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Indexing
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Net
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Git
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Job
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Messaging
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Template
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API Mail
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API BPM
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: API CMS
    atlas: ✅
    helios: 
    hades: 
    oceanus: ✅
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: API Kafka
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: API ETCD
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: API MongoDB
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: API RabbitMQ
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: API Redis
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✅
    gaia: ✅
  - feature: API QLDB
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: ✅
  - feature: IDE Workspace Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Git Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Console Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Template Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Terminal Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Problems Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Logs Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Publisher Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Registry Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Repository Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Template Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Transport Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE About
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE BPM
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE BPM Menu
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE BPM Workspace
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Branding
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Console
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE CSV
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: ✅
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE CSVIM
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: ✅
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Data Structures
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Database
    atlas: ✅
    helios: 
    hades: ✅
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Database Menu
    atlas: ✅
    helios: 
    hades: ✅
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Databases
    atlas: ✅
    helios: 
    hades: ✅
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Data Import
    atlas: ✅
    helios: 
    hades: ✅
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Data Export
    atlas: ✅
    helios: 
    hades: ✅
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Data Anonymization
    atlas: ✅
    helios: 
    hades: ✅
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Debugger
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Deploy Manager
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Documents
    atlas: ✅
    helios: 
    hades: 
    oceanus: ✅
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Documents MS
    atlas: ✅
    helios: 
    hades: 
    oceanus: ✅
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Entity
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Entity Menu
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Extensions
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Extensions Menu
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE File Manager
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Form Builder
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Form Builder Menu
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Generate Service
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Git
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Git Branches
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Git Projects
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Git Staging
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Image Viewer
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Import
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Jobs
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Jobs Menu
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Listeners
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Listeners Menu
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Logs
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Monaco Editor
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Monaco Extensions
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Operations
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Plugins
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Preview
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Problems
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Projects
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Properties
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Registry
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Repository
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Database Result
    atlas: ✅
    helios: 
    hades: ✅
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Schema
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Schema Menu
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Search
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Security
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Security Menu
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Database SQL
    atlas: ✅
    helios: 
    hades: ✅
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Swagger
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Terminal
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: ✅
    hyperion: 
    kronos: ✅
    gaia: 
  - feature: IDE Websockets
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Websockets Menu
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Workspace
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Welcome
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Workbench
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: IDE Workspace Menu
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: Resources Core
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Resources Dev Tools
    atlas: ✅
    helios: ✅
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: Resources Misc
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Resources Theme Default
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Resources Theme Quartz Dark
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Resources Theme Quartz Light
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Resources Themes
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Resources Unicons
    atlas: ✅
    helios: ✅
    hades: ✅
    oceanus: ✅
    theia: ✅
    hyperion: ✅
    kronos: ✅
    gaia: ✅
  - feature: Resources Flowable
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✅
    kronos: ✅
    gaia: 
  - feature: Resources MXGraph
    atlas: ✅
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✅
    gaia: 
---
<div class="plans">
	{% for plan in page.products_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: #ffffff; color: #111111" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>


<br><br><br>

{% if page.features %}
	<h2>Features Table</h2>
  <table>
    <tr>
      <th class="feature">Feature</th>
      <th class="enablement">Atlas</th>
      <th class="enablement">Helios</th>
      <th class="enablement">Hades</th>
      <th class="enablement">Oceanus</th>
      <th class="enablement">Theia</th>
      <th class="enablement">Hyperion</th>
      <th class="enablement">Kronos</th>
      <th class="enablement">Gaia</th>
    </tr>
    {% for item in page.features %}
    <tr>
      <td>{{ item.feature }}</td>
      <td class="enablement">{{ item.atlas }}</td>
      <td class="enablement">{{ item.helios }}</td>
      <td class="enablement">{{ item.hades }}</td>
      <td class="enablement">{{ item.oceanus }}</td>
      <td class="enablement">{{ item.theia }}</td>
      <td class="enablement">{{ item.hyperion }}</td>
      <td class="enablement">{{ item.kronos }}</td>
      <td class="enablement">{{ item.gaia }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

<br><br><br>

<h3>In addition, you can always count on us for support, as we also offer  
<a href="/services/development/">development</a> and <a href="/services/consulting/">consulting</a> services
at attractive prices.
</h3>
