---
title: Products
heading: Find the edition that best suits your needs
description: All editions are fully customizable and extendable.
products_table:
  - name: Atlas
    color: "#000000"
    features:
      - text: All in one platform containing all the standard components
        highlight: true
      - text: Enterprise JavaScript Development, User Interfaces, Debugger, Git, Themes, Databases, Jobs, Message Listeners, Websockets, Security, Extensions, Database Management, BPM, CMS, Terminal, Operations
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-atlas" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/atlas/
      text: More details
  - name: Helios
    color: "#000000"
    features:
      - text: JavaScript development for <a href="/documentation/platform/sdk/">Enterprise API</a>
        highlight: true
      - text: Enterprise JavaScript API, User Interfaces, Debugger, Git, Themes, Databases, Jobs, Message Listeners, Websockets, Security, Extensions
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-helios" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/helios/
      text: More details
  - name: Hades
    color: "#000000"
    features:
      - text: Database Management for PostgreSQL, MySQL, SAP HANA, H2, and more...
        highlight: true
      - text: Database Explorer, SQL Console, Data Transfer
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-hades" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/hades/
      text: More details
  - name: Oceanus
    color: "#000000"
    features:
      - text: Document Management for CMIS compliant repositories
        highlight: true
      - text: Documents Browser, Document Viewer, Import and Export of files, ZIP compressing and decompressing 
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-oceanus" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/oceanus/
      text: More details
  - name: Hyperion
    color: "#000000"
    features:
      - text: Business Processes Management fully compliant with BPMN v2 based on Flowable engine
        highlight: true
      - text: BPMN Modeler, Business Process Definitions, Instances, Variables, Inbox
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-hyperion" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/hyperion/
      text: More details
  - name: Iapetus
    color: "#000000"
    features:
      - text: Integrations Management for ETL and other enterprise integration patterns based on Apache Camel
        highlight: true
      - text: Integrations Modeler, Integrations Flows
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-iapetus" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/iapetus/
      text: More details
  - name: Rhea
    color: "#000000"
    features:
      - text: Entity and forms modeling
        highlight: true
      - text: All the model driven architecture supporting components
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-rhea" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/rhea/
      text: More details
  - name: Theia
    color: "#000000"
    features:
      - text: Terminal in the browser via HTTP
        highlight: true
      - text: Terminal over HTTP 
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-theia" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/theia/
      text: More details
  - name: Kronos
    color: "#000000"
    features:
      - text: The XS compatibility platform
        highlight: true
      - text: All the standard components plus XS compatibility plugins
        highlight: false
      - text: GitHub <a href="https://github.com/codbex/codbex-kronos" target="_blank">Project</a>
        highlight: false
    call_to_action:
      link: /products/kronos/
      text: More details
features:
  - feature: Engine JavaScript
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: ✔
    theia: ✔
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine TypeScript
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: ✔
    theia: ✔
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Python
    atlas: ✔
    helios:
    hades:
    oceanus:
    theia:
    hyperion:
    kronos: ✔
    rhea:
  - feature: Engine Web Content
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: ✔
    theia: ✔
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Command
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Jobs
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Listeners
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine OData
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✔ 
    rhea: ✔
  - feature: Engine Open API
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✔ 
    rhea: ✔
  - feature: Engine Security
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Template
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Template Mustache
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Template Velocity
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Template JavaScript
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Websockets
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Engine Markdown
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✔
    rhea: ✔
  - feature: Engine Confluence
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion:
    kronos: ✔
    rhea: ✔
  - feature: Engine BPM
    atlas: ✔
    helios:
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea:
  - feature: Engine BPM Flowable
    atlas: ✔
    helios:
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea:
  - feature: Engine CMS
    atlas: ✔
    helios:
    hades: 
    oceanus: ✔
    theia: 
    hyperion:
    kronos: ✔
    rhea:
  - feature: Engine CMS Internal
    atlas: ✔
    helios:
    hades: 
    oceanus: ✔
    theia: 
    hyperion:
    kronos: ✔ 
    rhea:
  - feature: Engine CMS S3
    atlas: ✔
    helios:
    hades: 
    oceanus: ✔
    theia: 
    hyperion:
    kronos: ✔ 
    rhea:
  - feature: API for JavaScript and TypeScript
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: ✔
    theia: ✔
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling BPM
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: 
  - feature: Tooling CSV and CSVIM
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: ✔
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Data Structures
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Database
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Data Import and Export
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: 
  - feature: Tooling Data Anonymization
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Debugger for JavaScript
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Documents Management
    atlas: ✔
    helios: 
    hades: 
    oceanus: ✔
    theia: 
    hyperion: 
    kronos: ✔
    rhea: 
  - feature: Tooling Entities Modeling
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Extensions
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Form Builder
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Generation from Templates
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Git
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Image Viewer
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Projects Import and Export
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Jobs
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Listeners
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Logs
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: ✔
    theia: ✔
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Code Editor
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Operations
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Projects Management
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Schema
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Project Search
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling SQL Console
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling RDBMS and NoSQL
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Swagger Browser
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: 
    kronos: ✔
    rhea: ✔
  - feature: Tooling Terminal via HTTP(S)
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: ✔
    hyperion: 
    kronos: ✔
    rhea: 
  - feature: Tooling Websockets
    atlas: ✔
    helios: 
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Tooling Workspace Management
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Resources Core
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: ✔
    theia: ✔
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Resources Dev Tools
    atlas: ✔
    helios: ✔
    hades: 
    oceanus: 
    theia: 
    hyperion: ✔
    kronos: ✔
    rhea: ✔
  - feature: Resources Themes
    atlas: ✔
    helios: ✔
    hades: ✔
    oceanus: ✔
    theia: ✔
    hyperion: ✔
    kronos: ✔
    rhea: ✔
---
<div class="plans">
	{% for plan in page.products_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}; ">
        <a href="{{ plan.call_to_action.link }}">
				    <h3 style="display: flex; justify-content: space-between; padding: 1em;align-items: flex-end;">{{ plan.name }} 
              <!-- <img src="/images/products/{{ plan.name }}-s.svg" style="width: 4em; height: 4em; !important"/> -->
            </h3>
          </a>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: #ffffff; color: #111111" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>


<br><br><br>

{% if page.features %}
	<h2>Features Table</h2>
  <table>
    <tr>
      <th class="feature">Feature</th>
      <th class="enablement">Atlas</th>
      <th class="enablement">Helios</th>
      <th class="enablement">Hades</th>
      <th class="enablement">Oceanus</th>
      <th class="enablement">Theia</th>
      <th class="enablement">Hyperion</th>
      <th class="enablement">Rhea</th>
      <th class="enablement">Kronos</th>
    </tr>
    {% for item in page.features %}
    <tr>
      <td>{{ item.feature }}</td>
      <td class="enablement">{{ item.atlas }}</td>
      <td class="enablement">{{ item.helios }}</td>
      <td class="enablement">{{ item.hades }}</td>
      <td class="enablement">{{ item.oceanus }}</td>
      <td class="enablement">{{ item.theia }}</td>
      <td class="enablement">{{ item.hyperion }}</td>
      <td class="enablement">{{ item.rhea }}</td>
      <td class="enablement">{{ item.kronos }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

<br><br><br>

<h3>In addition, you can always count on us for support, as we also offer  
<a href="/services/development/">development</a> and <a href="/services/consulting/">consulting</a> services
at attractive prices.
</h3>
