html {
	background: #111111;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
}

a {
	color: #2b5cb8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 500;
	font-size: 2.3em;
	margin: 0;
}

h2 {
	font-weight: 400;
	font-size: 2.0em;
	margin: 0 0 30px 0;
}

h3 {
	font-weight: 300;
	font-size: 1.6em;
	margin: 40px 0 30px 0;
	text-align: center;
}


p, address {
	font-size: 1.38em;
	color: #666;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4em;
}

ol, ul, li, address {
	font-size: 1em;
	color: #666;
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 1.2em;
}

.price-tag {
    background-color: #00b300;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    float: right !important;
}

.product-tag {
    background-color: #00b300;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    float: right !important;
}

.product-link {
    color: white;
}

table {
	width: 90%;
	margin: 1em;
	padding: 1em;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

th {
	background-color: #eaeaea;
}

th, td {
	font-size: 1em;
	color: #666;
	margin-bottom: 10px;
	font-weight: 600;
	line-height: 1.2em;
	padding: 0.2em;
}

td {
	font-weight: 300;
}

.feature {
	text-align: left;
}

.enablement {
	width: 5em;
	text-align: center;
}
