.md-header {
  background-color: #121212;
}

.md-tabs {
  background-color: #121212;
}

/* .md-header {
  background-color: rgba(229, 141, 21, 98%);
}

.md-tabs {
  background-color: rgba(229, 141, 21, 98%);
} */

.md-footer-copyright {
  width: 50%;
}

.md-typeset a {
  color: #2b7bb9;
}

.md-typeset a:focus, .md-typeset a:hover {
  color: #0091ff;
}

.md-nav__item .md-nav__link--active {
  color: #2b7bb9;
}

.md-nav__link:focus, .md-nav__link:hover {
  color: #3592d8;
}

.md-search-result mark {
  color: #2b7bb9;
}

.md-search-result__link:focus, .md-search-result__link:hover {
  background-color: #469bdc22;
}

.md-search-result__more summary {
  color: #2b7bb9;
}

.md-search-result__more summary:focus, .md-search-result__more summary:hover {
  background-color: #469bdc22;
}

.md-search-result__more summary:focus, .md-search-result__more summary:hover {
  color: #3592d8;
}

.md-typeset .tabbed-set>input:checked+label {
  color: #2b7bb9;
  border-color: #2b7bb9;
}

.md-typeset .tabbed-set>label:hover {
  color: #3592d8;
}

.testimonial {
  background: #f5f5f5;
  margin: 0;
  padding: 100px 0
}

.testimonial .testimonial-block {
  max-width: 750px;
  width: 98%;
  margin: 0 auto
}

@media (min-width: 450px) {
  .testimonial .testimonial-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex
  }

  .testimonial .testimonial-block blockquote {
      -webkit-flex: 1;
      flex: 1
  }
}

.square-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 25px auto 0 auto;
  position: relative;
  border-radius: 200px
}

.square-image img {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  width: 200px
}