{% include head.html %}
	<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="/tools-component-registry.html">Components</a></li>
	  <li class="active">{{ page.title }}</li>
	</ol>
    <div class="container">
		<div>
			{{ content }}
			
			<h3 id="project-info">Project Info</h3>
			{% assign author = site.data.developers[page.author] %}
			{% assign vendor = site.data.vendors[page.vendor] %}
			{% assign industry = site.data.industries[page.industry] %}
			<table>
			  <tbody>
			    <tr>
			      <td>Location</td>
			      <td>{{page.location}}</td>
			    </tr>
			    <tr>
			      <td>Name</td>
			      <td>{{page.title}}</td>
			    </tr>
			    <tr>
			      <td>Industry</td>
			      <td>{{industry.name}}</td>
			    </tr>
			    <tr>
			      <td>Vendor</td>
			      <td>{{vendor.name}}</td>
			    </tr>
			    <tr>
			      <td>Author</td>
			      <td>{{author.name}}</td>
			    </tr>
			    <tr>
			      <td>License</td>
			      <td><a href="{{page.license}}">{{page.license}}</a></td>
			    </tr>
			    <tr>
			      <td>Version</td>
			      <td>{{page.version}}</td>
			    </tr>
			    <tr>
			      <td>Repository</td>
			      <td><a href='{{page.repository}}' target='_blank'>{{page.repository}}</a></td>
			    </tr>
			  </tbody>
			</table>
			
			<br><br>
			
		</div>
	</div>
{% include foot.html%}